body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:467px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:569px;
  top:712px;
  width:611px;
  height:16px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:720px;
  top:744px;
  width:287px;
  height:16px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1963 {
  position:absolute;
  left:378px;
  top:14px;
  width:213px;
  height:68px;
  font-size:28px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1965 {
  position:absolute;
  left:1325px;
  top:40px;
  width:72px;
  height:16px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:378px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1px;
}
#u1969 {
  position:absolute;
  left:454px;
  top:224px;
  width:875px;
  height:1px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1971 {
  position:absolute;
  left:584px;
  top:208px;
  width:34px;
  height:34px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1973 {
  position:absolute;
  left:789px;
  top:208px;
  width:34px;
  height:34px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1975 {
  position:absolute;
  left:985px;
  top:208px;
  width:34px;
  height:34px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1977 {
  position:absolute;
  left:1196px;
  top:208px;
  width:34px;
  height:34px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:597px;
  top:217px;
  width:9px;
  height:16px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:802px;
  top:217px;
  width:9px;
  height:16px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  position:absolute;
  left:998px;
  top:217px;
  width:9px;
  height:16px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  position:absolute;
  left:1209px;
  top:217px;
  width:9px;
  height:16px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:573px;
  top:252px;
  width:57px;
  height:16px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:778px;
  top:252px;
  width:57px;
  height:16px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:965px;
  top:252px;
  width:71px;
  height:16px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1993 {
  position:absolute;
  left:1198px;
  top:252px;
  width:29px;
  height:16px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:630px;
  top:373px;
  width:85px;
  height:16px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:732px;
  top:361px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u1998 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1999 {
  position:absolute;
  left:736px;
  top:526px;
  width:80px;
  height:40px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2001 {
  position:absolute;
  left:742px;
  top:361px;
  width:240px;
  height:40px;
}
#u2001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:630px;
  top:463px;
  width:85px;
  height:16px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u2005 {
  position:absolute;
  left:732px;
  top:451px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u2006 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007 {
  position:absolute;
  left:742px;
  top:451px;
  width:240px;
  height:40px;
}
#u2007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2008 {
  position:absolute;
  left:736px;
  top:411px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  position:absolute;
  left:793px;
  top:411px;
  width:130px;
  height:16px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
