@charset "UTF-8";
/*热销推荐部分开始*/
#main_module {
  width: 100%;
  height: auto; }
  #main_module .hot_title {
    margin-top: 20px; }
    #main_module .hot_title .recommend {
      line-height: 40px;
      color: #333;
      font-size: 20px;
      font-weight: bold; }
    #main_module .hot_title .hot_pic {
      display: inline-block;
      padding-top: 20px; }
      #main_module .hot_title .hot_pic .hot_list {
        width: 220px;
        height: 180px;
        text-align: center;
        cursor: pointer;
        float: left; }
        #main_module .hot_title .hot_pic .hot_list .hot_img img {
          width: 105px;
          height: 112px;
          display: inline-block; }
        #main_module .hot_title .hot_pic .hot_list p {
          line-height: 26px;
          color: #666;
          font-size: 14px; }
          #main_module .hot_title .hot_pic .hot_list p.intelligent {
            color: #333;
            font-size: 18px;
            font-weight: bold; }
            #main_module .hot_title .hot_pic .hot_list p.intelligent .hot_red {
              width: 20px;
              height: 12px;
              background-color: #f00;
              line-height: 12px;
              text-align: center;
              color: #f7eb57;
              display: inline-block;
              font-size: 10px; }

/*热销推荐部分结束*/
/*家用电器部分样式开始*/
/*家用电器部分样式开始*/
#house_electrical {
  width: 100%;
  height: 420px;
  overflow: hidden;
  display: inline-block; }
  .cleafix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: inline-block;
    clear: both;
    zoom: 1; }

.house_content {
  height: 420px;
  float: left;
  overflow: hidden; }
  .house_content .top {
    height: 46px;
    line-height: 46px;
    background-color: #33b5ff;
    text-align: center; }
    .house_content .top .house_top {
      color: #fefefe;
      font-size: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
  .house_content .house_let {
    width: 220px;
    background-color: #f2f9ff; }
    .house_content .house_let .house_line {
      width: 197px;
      margin: 0 auto;
      border-bottom: 1px;
      border-style: dashed;
      border-color: #858a8e;
      background-color: #f2f9ff;
      padding: 6px 0; }
      .house_content .house_let .house_line:last-child {
        border-bottom: 0; }
      .house_content .house_let .house_line .house_big {
        line-height: 36px;
        color: #333;
        font-size: 16px;
        font-weight: bold; }
      .house_content .house_let .house_line .house_list {
        width: 190px;
        line-height: 22px;
        font-size: 14px;
        padding-bottom: 10px; }
        .house_content .house_let .house_line .house_list a {
          color: #999;
          padding-right: 5px; }
          .house_content .house_let .house_line .house_list a:nth-child(6), .house_content .house_let .house_line .house_list a:nth-child(7) {
            padding-right: 20px; }
          .house_content .house_let .house_line .house_list a:hover {
            color: #35b5ff; }

.house_right {
  float: left;
  border-top: 1px;
  border-style: solid;
  border-color: #60a2df; }
  .house_right .house_rpic {
    margin-top: 10px; }
    .house_right .house_rpic .xiang {
      width: 218px;
      height: 210px;
      text-align: center;
      float: left; }
      .house_right .house_rpic .xiang .picture img {
        width: 128px;
        height: 135px;
        display: inline-block; }
      .house_right .house_rpic .xiang .pic_text {
        width: 126px;
        text-align: left;
        margin: 0 auto;
        line-height: 18px;
        font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif;
        font-size: 14px; }
        .house_right .house_rpic .xiang .pic_text .right_tit {
          color: #333;
          line-height: 20px; }
        .house_right .house_rpic .xiang .pic_text .right_time a {
          padding-right: 5px;
          color: #f00;
          font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif;
          font-size: 13px; }
        .house_right .house_rpic .xiang .pic_text .money {
          color: #f00;
          font-size: 16px;
          font-weight: bold; }

/*家用电器部分样式结束*/
.house_under {
  width: 100%;
  height: 50px;
  background: #fff;
  line-height: 50px; }
  .house_under img {
    margin-right: 5px; }
    .house_under img.pic01 {
      height: 30px;
      width: 137px;
      display: inline-block;
      line-height: 50px; }
    .house_under img.pic02 {
      height: 50px;
      width: 80px;
      display: inline-block;
      line-height: 50px; }
