@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*!
 * CONTENTS
 *
 * SETTINGS
 * variables......................变量集中存储文件
 * mixin..........................mixin集中存储文件
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset..........................Compass内置浏览器重置样式文件
 *
 * BUSINESS
 *
 * BASE
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.header_ls .search_hot span, span, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img, .header_ls .search_hot span img, #header_ls .search_hot span img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*清除浮动样式*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  overflow: hidden; }

/*header-top start*/
.header_top {
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  line-height: 30px;
  font-size: 12px;
  color: #666; }
  .wrap {
    width: 1100px;
    margin: 0 auto; }
  .header_top .yc_adr {
    float: left; }
  .header_top .header_topright, .header_top .header_topright li {
    float: right;
    display: block;
    width: auto;
    height: inherit;
    line-height: inherit; }
    .header_top .header_topright li {
      float: left;
      padding-right: 12px;
      cursor: pointer;
      position: relative; }
      .locor {
        color: #ddd; }
      .header_top .header_topright li .red, .header_top .header_topright li .header_ls .search_hot a:hover, .header_ls .search_hot .header_top .header_topright li a:hover, .header_top .header_topright li .header_ls .search_hot span:hover, .header_ls .search_hot .header_top .header_topright li span:hover {
        color: red;
        text-decoration: underline;
        padding-left: 12px; }
      .header_top .header_topright li .on_red:hover {
        color: red;
        cursor: pointer; }
      .header_top .header_topright li .more_icon {
        display: block;
        height: 12px;
        line-height: 12px;
        float: right;
        font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif;
        margin-left: 5px;
        margin-top: 8px; }

.header_ls {
  width: 100%;
  height: 80px;
  margin-top: 17px;
  margin-bottom: 30px; }
  .header_ls .header_lg {
    position: relative;
    z-index: 12;
    float: left;
    width: 290px;
    height: 62px;
    float: left; }
    .header_ls .header_lg .logo {
      display: block;
      width: 185px;
      height: 44px;
      padding-left: 45px; }
  .header_ls .search_wrap {
    float: left;
    height: 44px; }
    .header_ls .search_wrap .search_strip {
      width: 427px;
      height: 40px;
      line-height: 40px;
      color: #666;
      padding: 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 4px;
      float: left;
      border-color: #e2e2e2;
      border-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right: 0 none;
      outline: 0;
      font-family: Braggadocio, Arial, Verdana, Helvetica, sans-serif, Microsoft YaHei;
      font-size: 16px; }
    .header_ls .search_wrap .button {
      float: left;
      width: 87px;
      height: 40px;
      background: #3db1fa;
      border: 0 none;
      line-height: 1;
      color: #fff;
      font-family: Braggadocio, Arial, Verdana, Helvetica, sans-serif, Microsoft YaHei;
      font-size: 16px;
      cursor: pointer; }
      .header_ls .search_wrap .button i {
        top: 0;
        left: 0;
        width: 82px;
        height: 36px;
        display: block;
        position: absolute;
        overflow: hidden; }
  .header_ls .shopping_cart {
    float: right;
    width: 115px;
    width: 115px;
    height: 40px;
    background-color: #fd5d5f;
    margin-right: 135px; }
    .header_ls .shopping_cart .yc_line {
      line-height: 40px; }
      .header_ls .shopping_cart .yc_line .shopping_cart_icon {
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #fff;
        vertical-align: middle; }
      .header_ls .shopping_cart .yc_line a, .header_ls .shopping_cart .yc_line .search_hot span, .header_ls .search_hot .shopping_cart .yc_line span {
        color: #fff;
        text-align: center; }
  .header_ls .search_hot {
    width: 514px;
    height: 20px;
    line-height: 20px;
    overflow: hidden; }
    .header_ls .search_hot a, .header_ls .search_hot span {
      color: #999;
      font-size: 14px; }
      .header_ls .search_hot a:hover, .header_ls .search_hot span:hover {
        cursor: pointer; }
      .red, .header_ls .search_hot a:hover, .header_ls .search_hot span:hover {
        color: red !important; }

/*header-top end*/
/*nav start*/
.nav-box {
  width: 100%;
  height: 40px;
  overflow: hidden;
  clear: both;
  border-bottom: 1.5px;
  border-style: solid;
  border-color: #60a2df; }
  .nav-box ul {
    display: block;
    float: left; }
    .nav-box ul li {
      float: left;
      height: 40px;
      font-family: Microsoft YaHei;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      overflow: hidden; }
      .nav-box ul li.nav_blue {
        padding: 0 0 0 80px; }
      .nav-box ul li .all_goods {
        width: 228px;
        height: 40px;
        display: block;
        background-color: #0071b3;
        color: #fff;
        font-size: 17px;
        font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
      a, .header_ls .search_hot span {
        color: #222;
        text-decoration: none; }
        a:hover, .header_ls .search_hot span:hover, a:focus, .header_ls .search_hot span:focus {
          text-decoration: underline; }
        a:hover, .header_ls .search_hot span:hover {
          text-decoration: none;
          color: #35b5ff; }

/*nav end*/
.main_box {
  width: 100%;
  height: 480px;
  clear: both; }
  .main_box .main_menu {
    width: 228px;
    height: 480px;
    background-color: #33b5ff;
    float: left;
    font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
    .main_box .main_menu ul {
      width: 200px;
      margin: 0 auto; }
      .main_box .main_menu ul li {
        position: relative;
        border-bottom: 1px;
        border-style: solid;
        border-color: #fff;
        padding-top: 10px;
        cursor: pointer; }
        .main_box .main_menu ul li:last-child {
          border-bottom: 0 none; }
        .main_box .main_menu ul li h2 {
          color: #fff;
          font-size: 16px; }
          .main_box .main_menu ul li h2 .nav_icon {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-color: #fff; }
        .main_box .main_menu ul li .samll_menu {
          line-height: 16px;
          padding: 9px 28px 9px 16px; }
          .main_box .main_menu ul li .samll_menu a, .main_box .main_menu ul li .samll_menu .header_ls .search_hot span, .header_ls .search_hot .main_box .main_menu ul li .samll_menu span {
            color: #fff;
            font-size: 12px; }
        .main_box .main_menu ul li .jiantou {
          position: absolute;
          z-index: 1;
          top: 43px;
          right: 8px;
          width: 5px;
          height: 8px;
          font: 400 9px/14px consolas;
          color: #fff;
          cursor: pointer; }

.main_banner {
  width: 670px;
  height: 479px;
  float: left;
  position: relative; }
  .main_banner .banner_pic {
    position: relative; }
    .main_banner .banner_pic li {
      position: absolute;
      height: 480px; }
      .main_banner .banner_pic li:first-child {
        z-index: 11; }
      .main_banner .banner_pic li:nth-child(2) {
        z-index: 10; }
      .main_banner .banner_pic li:nth-child(3) {
        z-index: 1; }
  .main_banner .banner_yuan {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -56px;
    z-index: 200; }
    .main_banner .banner_yuan li {
      width: 8px;
      height: 8px;
      background-color: #888;
      float: left;
      border-radius: 50%;
      z-index: 400;
      cursor: pointer;
      margin: 0 8px; }
      .main_banner .banner_yuan li.curent {
        background-color: rgba(0, 0, 0, 0.2); }

/*右侧图片开始*/
.main_right {
  float: right;
  width: 202px;
  height: 480px; }
  .main_right li {
    clear: both; }
    .main_right li .word {
      float: left;
      padding-top: 7px;
      padding-left: 6px;
      line-height: 20px;
      font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
      .main_right li .word .big_w {
        color: #333;
        font-size: 16px;
        font-weight: bold; }
      .main_right li .word .samll_w, .main_right li .word .samllx_w {
        color: #f00;
        font-size: 15px; }
      .main_right li .word .samllx_w {
        font-size: 12px; }
    .main_right li .hotpic {
      float: right;
      margin-right: 8px; }
    .main_right li .auto img {
      width: 148px;
      height: 105px;
      margin-left: 40px; }

/*右侧图片结束*/
.service {
  width: 100%;
  height: auto;
  background-color: #fbfbfb;
  margin-top: 100px; }
  .service .service_top {
    height: 100px;
    line-height: 100px; }
    .service .service_top .service_pic {
      display: inline-block;
      line-height: 100px;
      text-align: center;
      padding-top: 10px;
      padding-right: 50px; }
      .service .service_top .service_pic img {
        width: 212px;
        height: 53px;
        display: inline-block; }
  .service .service_center {
    display: inline-block;
    clear: both;
    font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
    .service .service_center dl {
      float: left;
      width: 220px;
      text-align: left; }
      .service .service_center dl dt {
        line-height: 36px;
        color: #333;
        font-size: 18px;
        font-weight: bold;
        font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
      .service .service_center dl dd {
        line-height: 26px;
        color: #333;
        font-size: 14px;
        font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }

.footer {
  width: 100%;
  height: auto;
  text-align: center; }
  .footer .foot_link {
    padding-top: 15px;
    border-top: 1px;
    border-style: solid;
    border-color: #ccc;
    color: #666666;
    font-size: 14px;
    font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
    .footer .foot_link a, .footer .foot_link .header_ls .search_hot span, .header_ls .search_hot .footer .foot_link span {
      padding-right: 5px; }
  .footer .autocation {
    margin-top: 25px; }
    .footer .autocation a, .footer .autocation .header_ls .search_hot span, .header_ls .search_hot .footer .autocation span {
      margin: 0 14px; }
