body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:950px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:467px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:569px;
  top:712px;
  width:611px;
  height:16px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:720px;
  top:744px;
  width:287px;
  height:16px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1849 {
  position:absolute;
  left:378px;
  top:14px;
  width:213px;
  height:68px;
  font-size:28px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  position:absolute;
  left:1325px;
  top:40px;
  width:72px;
  height:16px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1853 {
  position:absolute;
  left:378px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1px;
}
#u1855 {
  position:absolute;
  left:454px;
  top:224px;
  width:875px;
  height:1px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1857 {
  position:absolute;
  left:584px;
  top:208px;
  width:34px;
  height:34px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1859 {
  position:absolute;
  left:789px;
  top:208px;
  width:34px;
  height:34px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1861 {
  position:absolute;
  left:985px;
  top:208px;
  width:34px;
  height:34px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1863 {
  position:absolute;
  left:1196px;
  top:208px;
  width:34px;
  height:34px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  position:absolute;
  left:597px;
  top:217px;
  width:9px;
  height:16px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:802px;
  top:217px;
  width:9px;
  height:16px;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  position:absolute;
  left:998px;
  top:217px;
  width:9px;
  height:16px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  position:absolute;
  left:1209px;
  top:217px;
  width:9px;
  height:16px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:573px;
  top:252px;
  width:57px;
  height:16px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:778px;
  top:252px;
  width:57px;
  height:16px;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:965px;
  top:252px;
  width:71px;
  height:16px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:1198px;
  top:252px;
  width:29px;
  height:16px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:630px;
  top:373px;
  width:85px;
  height:16px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u1883 {
  position:absolute;
  left:732px;
  top:361px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u1884 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1885 {
  position:absolute;
  left:736px;
  top:526px;
  width:80px;
  height:40px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1887 {
  position:absolute;
  left:742px;
  top:361px;
  width:240px;
  height:40px;
}
#u1887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1889 {
  position:absolute;
  left:630px;
  top:463px;
  width:85px;
  height:16px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u1891 {
  position:absolute;
  left:732px;
  top:451px;
  width:250px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u1892 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:742px;
  top:451px;
  width:240px;
  height:40px;
}
#u1893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:736px;
  top:411px;
  width:71px;
  height:16px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1896 {
  position:absolute;
  left:817px;
  top:411px;
  width:130px;
  height:16px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1898 {
  position:absolute;
  left:736px;
  top:501px;
  width:113px;
  height:16px;
  color:#999999;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
