$headline-ff: Braggadocio, Arial, Verdana, Helvetica, sans-serif,Microsoft YaHei;
$main-sec-ff: Arial, Verdana, Helvetica, sans-serif,Microsoft YaHei;
$wrap-width:1100px;
$header-top-color:#575757;
$header-lg-margin:17px;
