@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*!
 * CONTENTS
 *
 * SETTINGS
 * variables......................变量集中存储文件
 * mixin..........................mixin集中存储文件
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset..........................Compass内置浏览器重置样式文件
 *
 * BUSINESS
 *
 * BASE
 * screen.scss....................针对当前站点主页的样式修饰
 */

@import "variables", "mixin";

@import "compass/reset";
@import "compass/css3";
@import "compass/support";
@import "compass/typography/links";
@import "compass/typography/lists";
@import "compass/typography/text";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/color";
@import "compass/utilities/print";
@import "compass/utilities/tables";
@import "compass/utilities/general";
@import "head/*.png";
//@import "icons";

$browser-minimum-versions: ("ie": "6");

@include print-utilities(screen);
@include reset-html5;
/*header-top start*/
.header_top{
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    line-height: 30px;
    @include body;
    @at-root .wrap{
        width: $wrap-width;
        margin: 0 auto;
    }
    .yc_btn{
        float: left;
        
    }
    .header_topright{
        float: right;
        display:block;
        width:auto;
        height:inherit;
        line-height:inherit;
        li{ 
            float: left;
            padding-right: 12px;
            @extend .header_topright;
            cursor:pointer;
            position:relative;      
            @at-root .locor{
                color: #ddd;
            }
            .red{
                color: red;
                text-decoration: underline;
                padding-left: 12px;                                                        
            }
            .on_red:hover{
                color: red;
                cursor: pointer;
            }
            .more_icon{
                $height: 12px;
                display:block;
                height:$height;
                line-height:$height;
                float:right;
                font-family: 'Microsoft YaHei';
                margin:{
                    left:5px;
                    top:8px;
                }
                @include transition(all .2s);
            }
        }
    }
}

/*logo*/
#header_ls {
    width: 100%;
    height:80px;
    margin: {
        top: $header-lg-margin;
    }
    .header_lg {
        position: relative;
        z-index: 12;
        float: left;
        width: 290px;
        height: 62px;
        float: left;
        .logo {
            display: block;
            width: 185px;
            height: 44px;
            background-image: url('/images/logo.png');
            background-repeat:no-repeat;
            text-indent: -2000px;
            padding-left: 30px;;
        }
    }
    /*搜索框*/
    .search_wrap {
        float: left;
        height: 44px;
        .search_strip {
            width: 427px;
            height: 40px;
            line-height:40px;
            color: #666;
            padding: 4px;
            @include box-size;
            margin-bottom: 4px;
            float: left;
            border:{
                color: #e2e2e2;
                style: solid;
                top:{
                    width:2px;
                }
                bottom: {
                    width: 2px;
                }
                left: {
                    width: 2px;
                }
            }
            outline: 0;
            font:{
                family: $headline-ff;
                size: 14px;
            }
        }
        .button{
            float: left;
            width: 87px;
            height: 40px;
            background: #3db1fa;
            border: 0 none;
            line-height: 1;
            @include aclor;
            font:{
                family: $headline-ff;
                size: 16px;
            }
            cursor: pointer;
            i{
                top: 0;
                left: 0;
                width: 82px;
                height: 36px;
                display: block;
                position: absolute;
                overflow: hidden;
            }
        }
    }
    /*购物车*/
    #shopping_cart {
        float: right;
        width: 114px;
        height: 40px;
        background-color: #fd5d5f;
        margin-right: 135px;
        .yc_line{
            line-height: 40px;
            a{
                @include aclor;
                text-align: center;
            }


        }
    }
/*热门搜索*/
    .search_hot {
        width: 514px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        span{
            @extend a;
        }
        a{
            color:#888;
            font:{
                size: 14px;
            }
            &:hover{
                @extend .red;
                cursor: pointer;
            }
            @at-root .red {
                color: red !important;

            }
        }
    }
}
/*header-top end*/

/*nav start*/
.nav-box{
    width:100%;
    height: 40px;
    overflow: hidden;
    clear: both;
    border: {
        bottom:1.5px;
        style: solid;
        color: #60a2df;
    }
    ul{
        display:block;
        float:left;
        li{
            float: left;
            height:40px;
            font:{
                family: Microsoft YaHei;
                size:16px;
            }
            line-height:40px;
            text-align:center;
            cursor:pointer;
            overflow:hidden;
            &.nav_blue{
                padding: 0 0 0 80px;
            }
            .all_goods{
                width: 228px;
                height: 40px;
                display: block;
                background-color: #0071b3;
                @include aclor;
                font:{
                    size: 17px;
                    family: $main-sec-ff;
                }
            }
            @at-root a{
                color:#222 ;
                @include hover-link;
                &:hover{
                    text-decoration: none;
                    color: #35b5ff;
                }
            }
        }
    }
}
/*nav end*/

//左侧菜单栏开始
.main_box{
    width: 100%;
    height:auto;
    //overflow: hidden;
    clear: both;
    .main_menu{
        width: 228px;
        height:auto;
        background-color: #33b5ff;
        float: left;
        ul{
            width: 200px;
            margin: 0 auto;
            li{
                position: relative;
                border:{
                    bottom:1px;
                    style: solid;
                    @include aclor;
                }
                padding:{
                    top:10px;
                }
                &:last-child{
                    border-bottom:0 none ;
                }
                h2{
                    color:#fff;
                    font:{
                        size:16px;
                        weight: bold;
                    }
                }
                .samll_menu{
                    line-height: 16px;
                    padding: 8px 28px 9px 16px;
                    a{
                        @include aclor;
                        font-size: 12px;
                    }
                }
                i{
                    position: absolute;
                    z-index: 1;
                    top: 43px;
                    right: 8px;
                    width: 5px;
                    height: 8px;
                    font: 400 9px/14px consolas;
                    @include aclor;
                    cursor: pointer;
                }
            }
        }
    }
}
//左侧菜单栏结束

//中间banner开始
    .main_banner{
        width: 670px;
        height: 480px;
        float: left;
        position: relative;
        .banner_yuan{
            position:absolute;
            left: 50%;
            bottom: 20px;
            margin-left:-56px;
            li{
                width: 8px;
                height: 8px;
                background-color: #888;
                float: left;
                border-radius:50%;
                z-index:400;
                cursor:pointer;
                margin: 0 8px;
                &.curent{
                    background-color:rgba(0,0,0,0.2);
                }
            }
        }

    }
//中间banner结束

/*右侧图片开始*/
.main_right{
    float: right;
    width: 202px;
    height: auto;
    li{
        clear: both;
        .word{
            float: left;
            padding:{
                top:7px;
                left: 6px;
            }
            line-height: 20px;
            .big_w{
                color: #333;
                font:{
                    size:16px;
                    weight: bold;
                }
            }
            .samll_w{
                color: #f00;
                font-size: 15px;
            }
            .samllx_w{
                @extend .samll_w;
                font-size: 12px;
            }
        }
        .hotpic{
            float: right;
            margin-right: 8px;
        }
        .auto{
            img{
                width: 148px;
                height: 110px;
                margin-left:40px;
            }
        }
    }
}
/*右侧图片结束*/

