body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1102px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14861 {
  position:absolute;
  left:0px;
  top:544px;
  width:1100px;
  height:69px;
}
#u14862 {
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u14863 {
  position:absolute;
  left:21px;
  top:558px;
  width:44px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u14864 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u14865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u14865 {
  position:absolute;
  left:314px;
  top:558px;
  width:44px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u14866 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u14867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u14867 {
  position:absolute;
  left:598px;
  top:558px;
  width:44px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u14868 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u14869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u14869 {
  position:absolute;
  left:894px;
  top:558px;
  width:44px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u14870 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u14871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14871 {
  position:absolute;
  left:75px;
  top:572px;
  width:127px;
  height:16px;
}
#u14872 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14873 {
  position:absolute;
  left:368px;
  top:572px;
  width:127px;
  height:16px;
}
#u14874 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14875 {
  position:absolute;
  left:652px;
  top:572px;
  width:127px;
  height:16px;
}
#u14876 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14877 {
  position:absolute;
  left:948px;
  top:572px;
  width:127px;
  height:16px;
}
#u14878 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14880 {
  position:absolute;
  left:21px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14881 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14882 {
  position:absolute;
  left:21px;
  top:692px;
  width:57px;
  height:16px;
}
#u14883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14884 {
  position:absolute;
  left:21px;
  top:718px;
  width:57px;
  height:16px;
}
#u14885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14886 {
  position:absolute;
  left:21px;
  top:744px;
  width:57px;
  height:16px;
}
#u14887 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14888 {
  position:absolute;
  left:21px;
  top:770px;
  width:57px;
  height:16px;
}
#u14889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14890 {
  position:absolute;
  left:21px;
  top:796px;
  width:57px;
  height:16px;
}
#u14891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14893 {
  position:absolute;
  left:233px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14894 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14895 {
  position:absolute;
  left:233px;
  top:692px;
  width:57px;
  height:16px;
}
#u14896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14897 {
  position:absolute;
  left:233px;
  top:718px;
  width:66px;
  height:16px;
}
#u14898 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14899 {
  position:absolute;
  left:233px;
  top:744px;
  width:85px;
  height:16px;
}
#u14900 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14901 {
  position:absolute;
  left:233px;
  top:770px;
  width:99px;
  height:16px;
}
#u14902 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14903 {
  position:absolute;
  left:233px;
  top:796px;
  width:57px;
  height:16px;
}
#u14904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14906 {
  position:absolute;
  left:455px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14907 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14908 {
  position:absolute;
  left:455px;
  top:692px;
  width:57px;
  height:16px;
}
#u14909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14910 {
  position:absolute;
  left:455px;
  top:718px;
  width:57px;
  height:16px;
}
#u14911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14912 {
  position:absolute;
  left:455px;
  top:744px;
  width:57px;
  height:16px;
}
#u14913 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14914 {
  position:absolute;
  left:455px;
  top:770px;
  width:57px;
  height:16px;
}
#u14915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14916 {
  position:absolute;
  left:455px;
  top:796px;
  width:57px;
  height:16px;
}
#u14917 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14919 {
  position:absolute;
  left:689px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14920 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14921 {
  position:absolute;
  left:689px;
  top:692px;
  width:57px;
  height:16px;
}
#u14922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14923 {
  position:absolute;
  left:689px;
  top:718px;
  width:57px;
  height:16px;
}
#u14924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14925 {
  position:absolute;
  left:689px;
  top:744px;
  width:57px;
  height:16px;
}
#u14926 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14927 {
  position:absolute;
  left:689px;
  top:770px;
  width:85px;
  height:16px;
}
#u14928 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14929 {
  position:absolute;
  left:689px;
  top:796px;
  width:57px;
  height:16px;
}
#u14930 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14932 {
  position:absolute;
  left:912px;
  top:653px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14933 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14934 {
  position:absolute;
  left:919px;
  top:692px;
  width:43px;
  height:16px;
}
#u14935 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14936 {
  position:absolute;
  left:919px;
  top:718px;
  width:51px;
  height:16px;
}
#u14937 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u14938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14938 {
  position:absolute;
  left:919px;
  top:744px;
  width:57px;
  height:16px;
}
#u14939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14940 {
  position:absolute;
  left:919px;
  top:770px;
  width:43px;
  height:16px;
}
#u14941 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14942 {
  position:absolute;
  left:919px;
  top:796px;
  width:57px;
  height:16px;
}
#u14943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u14944 {
  position:absolute;
  left:0px;
  top:880px;
  width:1100px;
  height:1px;
}
#u14945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14947 {
  position:absolute;
  left:60px;
  top:901px;
  width:91px;
  height:22px;
}
#u14948 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14949 {
  position:absolute;
  left:151px;
  top:901px;
  width:91px;
  height:22px;
}
#u14950 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14951 {
  position:absolute;
  left:242px;
  top:901px;
  width:91px;
  height:22px;
}
#u14952 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14953 {
  position:absolute;
  left:333px;
  top:901px;
  width:91px;
  height:22px;
}
#u14954 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14955 {
  position:absolute;
  left:424px;
  top:901px;
  width:91px;
  height:22px;
}
#u14956 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14957 {
  position:absolute;
  left:515px;
  top:901px;
  width:91px;
  height:22px;
}
#u14958 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14959 {
  position:absolute;
  left:606px;
  top:901px;
  width:91px;
  height:22px;
}
#u14960 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14961 {
  position:absolute;
  left:697px;
  top:901px;
  width:91px;
  height:22px;
}
#u14962 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14963 {
  position:absolute;
  left:788px;
  top:901px;
  width:91px;
  height:22px;
}
#u14964 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14965 {
  position:absolute;
  left:879px;
  top:901px;
  width:91px;
  height:22px;
}
#u14966 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u14967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14967 {
  position:absolute;
  left:445px;
  top:946px;
  width:141px;
  height:16px;
}
#u14968 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u14969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
}
#u14969 {
  position:absolute;
  left:194px;
  top:985px;
  width:96px;
  height:38px;
}
#u14970 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
}
#u14971 {
  position:absolute;
  left:361px;
  top:985px;
  width:96px;
  height:38px;
}
#u14972 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
}
#u14973 {
  position:absolute;
  left:539px;
  top:985px;
  width:96px;
  height:38px;
}
#u14974 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
}
#u14975 {
  position:absolute;
  left:705px;
  top:985px;
  width:96px;
  height:38px;
}
#u14976 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u14977 {
  position:absolute;
  left:0px;
  top:1045px;
  width:1100px;
  height:1px;
}
#u14978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14980 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
}
#u14981 {
  position:absolute;
  left:2px;
  top:7px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14982 {
  position:absolute;
  left:9px;
  top:7px;
  width:71px;
  height:16px;
}
#u14983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14984 {
  position:absolute;
  left:399px;
  top:7px;
  width:689px;
  height:16px;
}
#u14985 {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  white-space:nowrap;
}
#u14986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14986 {
  position:absolute;
  left:0px;
  top:30px;
  width:1100px;
  height:80px;
}
#u14987 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14988 {
  position:absolute;
  left:9px;
  top:33px;
  width:297px;
  height:70px;
  font-size:28px;
}
#u14989 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  word-wrap:break-word;
}
#u14990 {
  position:absolute;
  left:485px;
  top:0px;
  width:65px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14991 {
  position:absolute;
  left:399px;
  top:0px;
  width:86px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14992 {
  position:absolute;
  left:550px;
  top:0px;
  width:68px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14993 {
  position:absolute;
  left:316px;
  top:60px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14994 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14995 {
  position:absolute;
  left:0px;
  top:158px;
  width:1102px;
  height:361px;
}
#u14996 {
  position:absolute;
  left:2px;
  top:172px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:2px;
}
#u14997 {
  position:absolute;
  left:33px;
  top:216px;
  width:1040px;
  height:1px;
}
#u14998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15000 {
  position:absolute;
  left:34px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15001 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15002 {
  position:absolute;
  left:148px;
  top:178px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15003 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15005 {
  position:absolute;
  left:43px;
  top:233px;
  width:15px;
  height:15px;
}
#u15006 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15007 {
  position:absolute;
  left:75px;
  top:230px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u15008 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:2px;
}
#u15009 {
  position:absolute;
  left:33px;
  top:325px;
  width:1040px;
  height:1px;
}
#u15010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15012 {
  position:absolute;
  left:43px;
  top:346px;
  width:15px;
  height:15px;
}
#u15013 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15014 {
  position:absolute;
  left:75px;
  top:343px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u15015 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:2px;
}
#u15016 {
  position:absolute;
  left:33px;
  top:434px;
  width:1040px;
  height:1px;
}
#u15017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15018 {
  position:absolute;
  left:103px;
  top:266px;
  width:124px;
  height:39px;
}
#u15019 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u15020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15020 {
  position:absolute;
  left:247px;
  top:266px;
  width:124px;
  height:39px;
}
#u15021 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u15022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15022 {
  position:absolute;
  left:103px;
  top:378px;
  width:124px;
  height:39px;
}
#u15023 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u15024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15024 {
  position:absolute;
  left:247px;
  top:378px;
  width:124px;
  height:39px;
}
#u15025 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u15026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15026 {
  position:absolute;
  left:33px;
  top:456px;
  width:140px;
  height:40px;
}
#u15027 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u15028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15029 {
  position:absolute;
  left:446px;
  top:336px;
  width:300px;
  height:170px;
}
#u15030 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15032 {
  position:absolute;
  left:447px;
  top:337px;
  width:298px;
  height:33px;
}
#u15033 {
  position:absolute;
  left:2px;
  top:8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15034 {
  position:absolute;
  left:454px;
  top:346px;
  width:85px;
  height:16px;
}
#u15035 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15036 {
  position:absolute;
  left:536px;
  top:407px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15037 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u15038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15038 {
  position:absolute;
  left:532px;
  top:442px;
  width:136px;
  height:16px;
}
#u15039 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
